<h1>Welcome to my blog!</h1>

<p> This is my blog where I catalog a few of my favorite fighting games. Attending tournaments for these games 
    is a favorite hobby of mine. I'd like to share a bit about the games I play and why.</p> 
  <p><%= link_to "Prepare to engage!", controller: "posts" %></p>